/* Mobile First */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
}

.headerContainer{
    background: rgba(0,0,0,0.8);
}
header h2{
    color:#fff;
} 

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles img {
    width: 100%;
}

.articles>div {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

nav ul{
    list-style: none;
    margin: 0;
    padding:0;
}
nav ul li{
    padding:8px 5px;
    border-bottom: 1px solid #ccc;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    display: block;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header > div{
    padding:10px;
}

nav{
    flex: 1 1 100%;
}

footer{
    background: rgba(0,0,0,0.8);
    margin-top: 40px;
    padding:40px;
}
footer > div > p{
    color:#fff;
    text-align: center;
    font-size:0.8rem;
}

main{
    margin:0 10px;
}

.articles {
    flex-wrap: nowrap;
    font-size: 1.2rem;
  }
  .articles > div {
    flex: 1 1 25%;
    padding: 0;
    margin: 0 20px;
  }
  .articles > div:first-child {
    margin-left: 0;
  }
  .articles > div:last-child {
    margin-right: 0;
  }

  header {
    max-width: 1280px;
    margin: auto;
  }
  
  main {
    max-width: 1280px;
    margin: 0 auto 8rem auto;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 4px;
    border-bottom: none;
  }
  nav ul li a {
    margin: 0 15px;
    border: none;
  }
  nav ul li a:hover {
    border-bottom: 3px solid #fff;
  }

  nav {
    height: 80px;
    flex: 1 1 80%;
    display: flex;
    justify-content: flex-end;
    /* For mobile toggle */
    overflow: auto;
  }
    
nav { 
        flex: 1 1 100%;
        overflow: hidden;
        transition: height 0.5s
    }